{
    "presets": ["@babel/preset-env"],
    "ignore": [
        "node_modules",
        "dist",
    ],
    "env": {
        "test": {
            "plugins": ["istanbul"]
        }
    },
    "sourceType": "module"
}